/* •.¸¸¸.•*•.¸¸¸.•*•.¸¸¸.•*• */
/* boiler plate CSS "reset" code */
/* •.¸¸¸.•*•.¸¸¸.•*•.¸¸¸.•*• */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* •.¸¸¸.•*•.¸¸¸.•*•.¸¸¸.•*• */
/* menu styles */
/* •.¸¸¸.•*•.¸¸¸.•*•.¸¸¸.•*• */

nav {
  margin: 10px;
  border: 2px solid blue;
  display: flex;
}

nav > .menu-item {
  margin: 10px;
}

nav > .menu-item:hover {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}

nav > .sub-menu {
  background: white;
  border: 1px solid blue;
  padding: 12px;
}

nav > .sub-menu > div:hover {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}

/* •.¸¸¸.•*•.¸¸¸.•*•.¸¸¸.•*• */
/* brushes/tool-bar styles */
/* •.¸¸¸.•*•.¸¸¸.•*•.¸¸¸.•*• */

#tools {
  margin: 10px;
  border: 2px solid red;
}

#tools > img {
  width: 50px;
}

#tools > img:hover {
  cursor: pointer;
}

/* •.¸¸¸.•*•.¸¸¸.•*•.¸¸¸.•*• */
/* options/ui styles         */
/* •.¸¸¸.•*•.¸¸¸.•*•.¸¸¸.•*• */

#options {
  margin: 10px;
  border: 2px solid red;
}
#options div {
  display: inline-block;
}

/* •.¸¸¸.•*•.¸¸¸.•*•.¸¸¸.•*• */
/* canvas parent element styles */
/* •.¸¸¸.•*•.¸¸¸.•*•.¸¸¸.•*• */

main {
  margin: 10px;
  border: 2px solid green;
  height: 50vh;
}

/* •.¸¸¸.•*•.¸¸¸.•*•.¸¸¸.•*• */
/* recipie display styles */
/* •.¸¸¸.•*•.¸¸¸.•*•.¸¸¸.•*• */

.container {
  display: flex;
  margin-left: 10%;
  align-items: center;
  justify-content: center; max-width: 70%;
  margin: 10px;
  border: 2px solid purple;
}

.imgDiv {
  flex-basis: 40%;
}

.textDiv {
  font-size: 22px;
  padding-left: 20px;
}
